.main-menu {
  --cor-text: var(--cor-principal);
  --cor-hover-item: var(--cor-ativo);
  --cor-hover-item-2: var(--cor-principal);
  --time-animation: 0.5s;

  width: 100%;
  position: relative;

  .cor-text {
    color: var(--cor-text) !important;
  }

  .panel-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 12.8px;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;

    &.show-sub-menu .item-primeira p {
      margin-left: 3rem;
      opacity: 0;
    }

    .ak,
    .icon-box,
    p {
      transition: var(--time-animation);
    }

    .icon-box {
      border-radius: 0;
      min-width: var(--size-box);
      min-height: var(--size-box);
      background-color: transparent;

      .ak {
        --icon-cor: var(--cor-text);
      }
    }

    .item-primeira {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
      transition: var(--time-animation);
      width: 100%;

      &:hover p {
        padding-left: 1rem !important;
      }
      &.active .icon-box {
        background-color: var(--cor-hover-item);
      }

      &:hover,
      &.active {
        p {
          padding-left: 0;
          margin-bottom: 0px;

          border-color: var(--cor-hover-item);
        }
        .icon-box {
          border-radius: 10px 0 0 10px;
        }
      }

      &.not-show {
        max-width: 32px;
      }

      p {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        margin: 0;
        opacity: 1;
        width: 100%;
        border-bottom: solid 3px transparent;
        text-align: start;
        font-weight: 500;
        margin-bottom: -3px;
        color: var(--cor-text);

        &.not-show {
          opacity: 0;
          width: 0%;
        }
      }
    }
  }

  .sub-menu {
    --max-size: calc(100% - 32px);
    border: 0;
    position: absolute;
    width: var(--max-size);
    background-color: var(--cor-hover-item);
    color: white;
    top: 0;
    left: 0;
    transform: translateX(32px);
    box-shadow: none;
    transition: var(--time-animation);
    overflow: hidden;

    &.sub-menu-enter {
      animation: slideIn var(--time-animation) forwards;
      pointer-events: auto;
    }

    &.sub-menu-exit,
    &.not-show {
      animation: slideOut var(--time-animation) forwards;
      padding: 12.8px 0 !important;
    }

    .title-submenu {
      color: white;
      padding-bottom: 10px;
    }

    .list-submenu {
      display: flex;
      gap: 0.5rem;
      flex-direction: column;
      list-style: none;
      padding: 0;
      margin: 0;

      .main-top-submenu {
        position: relative;
        transition: var(--time-animation);
      }

      .item-submenu {
        padding: 2px 0;
      }

      .item-submenu,
      .sub-top-submenu {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        transition: var(--time-animation);

        .icon-box {
          background-color: transparent;
          .ak {
            --icon-cor: var(--cor-text);
          }
          .bi,
          .pi {
            color: var(--cor-text);
          }
        }

        &:hover,
        &.active {
          p {
            padding-left: 1rem;
          }
          .icon-box {
            background-color: var(--cor-hover-item-2);
            .ak {
              --icon-cor: var(--cor-hover-item) !important;
            }
            .bi,
            .pi {
              color: var(--cor-hover-item);
            }
          }
        }

        .bi {
          color: white;
          font-size: 15px;
        }

        p {
          color: white;
          margin: 0;
          transition: var(--time-animation);
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          font-size: 12.8px;
          font-weight: 500;
        }

        .icon-box {
          --size-box: 28px;
          border-radius: 7px;
          min-width: var(--size-box);
          min-height: var(--size-box);
          transition: var(--time-animation);
        }
      }
    }

    .box-sub-submenu {
      position: absolute;
      top: calc(100% + 0.5rem);
      left: 0;
      width: 100%;
      overflow: hidden;
      transition: var(--time-animation);
    }

    .list-sub-submenu {
      font-size: 12.8px;
      font-weight: 600;
      padding-right: 10px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      z-index: 0;

      &.not-show {
        z-index: -1;
      }

      .list-linha {
        min-width: 2px;
        border-radius: 5px;
        background-color: var(--cor-text);
        margin: 0 13px;
      }

      ul {
        width: calc(100% - 18px);
        display: flex;
        gap: 0.5rem;
        flex-direction: column;
        list-style: none;
        padding: 0;
        margin: 0;
      }
    }

    .sub-top-submenu {
      position: relative;
      width: 100%;
      justify-content: space-between;

      &:hover .bi {
        transform: rotate(90deg);
      }

      &.active .bi {
        transform: rotate(0deg);
      }

      &:hover,
      &.active {
        p {
          padding-left: 0rem !important;
        }
        .icon-box .ak {
          --icon-cor: black !important;
        }
      }

      .bi {
        transform: rotate(180deg);
        transition: var(--time-animation);
      }
    }
  }
}

@keyframes slideIn {
  from {
    width: 0%;
    opacity: 0;
  }
  to {
    width: var(--max-size);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    opacity: 1;
  }
  to {
    width: 0%;
    opacity: 0;
  }
}
