.layout-container {
  display: flex;
  height: 100vh;
}

.layout-sidebar {
  --size-sidebar: 265px;
  width: var(--size-sidebar);
  min-width: var(--size-sidebar);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  background-color: var(--cor-componete-fixo);
  transition: 0.5s;
  overflow: hidden;
  box-shadow:
    0 1px 15px rgba(0, 0, 0, 0.04),
    0 1px 6px rgba(0, 0, 0, 0.04);
  z-index: 999;

  &:before {
    content: "";
    z-index: 99;
    position: absolute;
    left: 100%;
    top: 0;
    width: 100px;
    height: 100px;
    background-color: #293056;
  }

  &.not-show {
    width: 75px;
    min-width: 75px;

    .layout-menu {
      padding-left: 18px;
      width: 75px;
    }

    .p-button {
      .p-button-label {
        opacity: 0;
      }
      .p-button-icon-left {
        margin-right: 0rem;
        margin-left: 1px;
      }
    }
  }

  .p-button {
    .p-button-label {
      transition: all 0.3s;
      white-space: nowrap;
    }
    .p-button-icon-left {
      margin-left: 0px;
      transition: all 0.3s;
    }
  }
}

.text-logo {
  font-size: 15px;
  font-weight: 500;
  color: var(--cor-4);
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, 0);
  transition: all 0.3s;
}

.layout-cor {
  --logo-cor: #293056;
}

.layout-logo,
.layout-logo-tech {
  color: var(--logo-cor);
}

.layout-logo {
  position: absolute;
  width: 105px;
  transition: 0.5s;
  z-index: 1;
}

.layout-logo-tech {
  position: absolute;
  transition: 0.5s;
  z-index: 1;
}

.layout-box-logo {
  --bd-cor-app: #d5d7da;
  min-height: calc(var(--height-header) + 0px);
  text-align: center;
  transition: all 0.5s;
  position: relative;
  overflow: hidden;
  background-color: var(--cor-componete-fixo);
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-bottom: solid 1px var(--bd-cor-app);

  &.layout-logo-min,
  &.layout-logo-max {
    .btn-close-menu {
      display: none;
      border-color: var(--cor-4);
      color: var(--cor-4);
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translate(0%, -50%);
    }
  }

  &.layout-logo-max {
    .layout-logo {
      top: 27%;
      left: 40%;
      transform: translate(-60%, 0%);
    }

    .layout-logo-tech {
      top: 55%;
      left: 60%;
      transform: translate(-40%, -45%);
    }

    .text-logo {
      opacity: 1;
    }
  }

  &.layout-logo-min {
    background-position: center;

    .layout-logo {
      width: 55px;
      top: 20%;
      left: 50%;
      transform: translate(-50%, -20%);
    }

    .layout-logo-tech {
      top: 70%;
      left: 50%;
      transform: translate(-50%, -30%);
    }

    .text-logo {
      opacity: 0;
    }
  }

  .text-nome {
    transform: translate(-50%, -50%);
    opacity: 0;
  }

  .layout-box-logo-min {
    font-size: 10px;
    left: 70%;
  }
}

.layout-menu {
  --cor-text-menu: #101010;
  padding: 0 10px;
  padding-top: 10px;
  max-height: calc(100vh - 200px);
  overflow-y: auto;
  overflow-x: hidden;
  width: var(--size-sidebar);
  transition: 0.5s;

  &.sticky {
    position: fixed;
    width: 75px;
  }

  .p-panelmenu-panel {
    margin-bottom: 8px;
  }

  .item-menu {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;
    margin-left: 0px;
    transition: 0.5s;
    padding: 0 10px;
    min-height: 33px;
    color: var(--cor-text-menu);

    &.not-show {
      margin-left: 8px;
    }

    i {
      font-size: 18px;
      --ak-icon: 1em;
      --icon-cor: var(--cor-text-menu);
    }

    p {
      opacity: 0;
      transition: 0.5s;
      color: var(--cor-text-menu);
    }

    .show-text {
      opacity: 1;
    }
  }

  .p-menuitem-content {
    a {
      color: var(--cor-text-menu);
    }
  }

  .p-panelmenu-panel .p-highlight .p-panelmenu-header-content {
    background-color: #94949426;
  }
  .p-panelmenu-panel .p-panelmenu-header-content:hover {
    background-color: #94949426;
  }
}

.div-separator {
  height: 1px;
  background-color: #ccc;
  margin: 15px 0 10px 0;
}

.layout-box-menus {
  display: flex;
  transition: 0.5s;

  ul {
    padding: 10px 0;
  }
}

@media only screen and (max-width: 768px) {
  .layout-box-logo {
    width: 100%;
    display: flex;
    justify-content: center;

    .layout-logo {
      max-width: 200px;
    }

    &.layout-logo-min,
    &.layout-logo-max {
      .btn-close-menu {
        display: flex;
      }
    }
  }

  .layout-sidebar {
    --size-sidebar: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    height: 100vh;

    &.not-show {
      display: none;
    }
  }
}
