:root {
  --img-00: url("../img/bg_login.png");
  --img-01: url("../img/quatro/untitled5.png");
  --img-02: url("../img/quatro/1252.png");
  --img-03: url("../img/quatro/CORE2.png");
  --img-04: url("../img/quatro/imagens0001.png");
  --img-05: url("../img/quatro/oioi14524.png");
  --img-06: url("../img/quatro/pasic-1.png");
  --img-07: url("../img/quatro/pasic.png");
  --img-08: url("../img/quatro/THD.png");
  --img-09: url("../img/quatro/tribal0001-2.png");
  --img-10: url("../img/quatro/tribal0001-5.png");
  --img-11: url("../img/quatro/tribal0001-6.png");
  --img-12: url("../img/quatro/untitled7.png");
  --img-13: url("../img/quatro/vai0000.png");
  --img-14: url("../img/quatro/tribal0001-6.png");
}
